@using PayrollProcessor.Core.Entities
@model PayrollProcessor.Web.Models.PaystubModel
@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Payroll Processor</h1>
    <p class="lead">Get your paystubs for the last two weeks.</p>
    
    @using (Html.BeginForm("GetPaystubs", "Home", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.Date)
        @Html.ValidationMessageFor(model => model.Date)
        <button type="submit">Get Paystubs</button>

        <table id="paystubs" style="width:100%">
            <thead>
            <tr>
                <th>Regular Hours Worked</th>
                <th>Regular Pay</th>
                <th>Overtime Hours Worked</th>
                <th>Overtime Pay</th>
                <th>Total Pay</th>
            </tr>
            </thead>
            <tbody>
            @if (@ViewData["Paystubs"] != null)
            {
                foreach (var paystub in @ViewData["Paystubs"] as IList<Paystub>)
                 {
                     var totalPay = @paystub.TotalRegularPay + @paystub.TotalOvertimePay;
                     <tr>
                         <td>@paystub.TotalRegularHoursWorked</td>
                         <td>@paystub.TotalRegularPay</td>
                         <td>@paystub.TotalOvertimeHoursWorked</td>
                         <td>@paystub.TotalOvertimePay</td>
                         <td>@totalPay</td>
                     </tr>
                 }
            }
            </tbody>
        </table>
    }

    @*<p>Date: <input id="Date" type="text" /></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Get Paystubs &raquo;</a></p>*@

</div>



@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@